<!-- <h1>Hello {{ title }}</h1>
<app-heroes></app-heroes> 
<app-block></app-block> 
<app-user-profile></app-user-profile> 
<app-quest-3></app-quest-3> -->
<app-menu></app-menu>
<!-- 
<h1>{{title}}</h1>
<ul>
  <li *ngIf="isGuestListDisplayed">Pommes de terre</li>
  <li [ngStyle]="{backgroundColor:isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>
  <li>Jambon</li>
  <li [ngClass]="{'vital': isThisIngredientVital}">Cornichons</li>
  <li>Chou-fleur</li>
</ul>

<ul>
  <li *ngFor="let song of songList">
      {{song}}
  </li>
</ul> -->

<router-outlet />
